@import 'tailwindcss';

@theme {
  --color-brand:        #003DA5;
  --color-brand-dark:   #002D7A;
  --color-brand-light:  #E8EEFD;
  --color-accent:       #F5C500;
  --color-accent-dark:  #C49B00;
}
